
<div *ngIf="player">
    <h2><span>Player</span> {{player.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Player Name</span></dt>
        <dd>
            <span>{{player.playerName}}</span>
        </dd>
        <dt><span>Nickname</span></dt>
        <dd>
            <span>{{player.nickname}}</span>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <div *ngIf="player.team">
                <a [routerLink]="['/team-my-suffix', player.team?.id]">{{player.team?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'player-my-suffix/'+ player.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
