<div>
    <h2>
        <span>Mtches</span>
        <button class="btn btn-primary float-right jh-create-entity create-mtch-my-suffix" [routerLink]="['/', { outlets: { popup: ['mtch-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Mtch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mtches">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Match Type</span></th>
            <th><span>Team One</span></th>
            <th><span>Team Two</span></th>
            <th><span>Round</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mtch of mtches ;trackBy: trackId">
                <td><a [routerLink]="['../mtch-my-suffix', mtch.id ]">{{mtch.id}}</a></td>
                <td>{{mtch.matchType}}</td>
                <td>
                    <div *ngIf="mtch.teamOne">
                        <a [routerLink]="['../team-my-suffix', mtch.teamOne?.id ]" >{{mtch.teamOne?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mtch.teamTwo">
                        <a [routerLink]="['../team-my-suffix', mtch.teamTwo?.id ]" >{{mtch.teamTwo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mtch.round">
                        <a [routerLink]="['../round-my-suffix', mtch.round?.id ]" >{{mtch.round?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mtch-my-suffix', mtch.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mtch-my-suffix/'+ mtch.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mtch-my-suffix/'+ mtch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
